DATABASE_URL=postgresql://user:password@localhost:5432/sih26136
JWT_SECRET=changeme
JWT_ALGORITHM=HS256
JWT_EXPIRE_SECONDS=86400
ENVIRONMENT=development
DEBUG=True
CHROMA_PATH=./chroma_data
COLLECTION_NAME=startups
PS_COLLECTION_NAME=problem_statements
EMBEDDING_MODEL=BAAI/bge-small-en-v1.5